*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}

header h3{
    font-family: "Open sans";
    color: rgb(236, 236, 236);
    font-weight: 300;
    font-size: 28px;
    cursor: pointer;
}

header h3:hover{
    color: rgb(164, 60, 250);
    font-weight: normal;
    font-size: 27.6px;
}

header div.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.menu a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover{
    color: rgb(164, 60, 250);
}